<!DOCTYPE html>
<html>
  <head>
    <title>UsiRor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="flex flex-col min-h-screen ">
    <%= render 'layouts/header' %>
    <div class="flex-grow">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
